.eventsSection {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.03);
    padding: 36px 32px 24px 32px;
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    margin-bottom: 18px;
}

.addBtn {
    background: #c46a35;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 22px;
    padding: 8px 22px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
        background: #a55428;
    }
}

.searchInput {
    border-radius: 22px;
    background: rgba(246, 246, 246, 1);
    border: none;
    padding: 8px 18px;
    font-size: 1rem;
    outline: none;
}

.eventsTable {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 13px 18px;
        text-align: left;
    }

    th {
        color: rgba(204, 98, 55, 0.5);
        font-weight: 600;
        border-bottom: 1px solid rgba(204, 98, 55, 0.3);
    }

    td {
        border-bottom: 1px solid rgba(204, 98, 55, 0.3);
        color: rgba(101, 117, 147, 1);
        font-weight: 400;
    }
}

.statusDot {
    width: 9px;
    height: 9px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 7px;

    &.active {
        background: rgba(77, 239, 0, 1);
    }

    &.inactive {
        background: #f13c3c;
    }
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 22px;

    button {
        border: none;
        width: 35px;
        height: 35px;
        background: rgba(245, 245, 245, 1);
        color: #000000;
        border-radius: 200px;
        padding: 10px;
        padding: 10px;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;

        &.active, &:hover {
            background: #c46a35;
            color: #fff;
            font-weight: bold;
        }
    }
}

.pagination button:first-child,
.pagination button:last-child {
    border-radius: 18px;
    width: 77px;
    height: 35px;
    padding: 0;
    background: rgba(246, 246, 246, 1);
    color: #000000;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 15px;
    letter-spacing: 0.03em;
    box-shadow: 0 1px 4px 0 rgba(204, 98, 55, 0.06);

    &:hover,
    &:focus {
        background: #cc6237;
        color: #fff;
        outline: none;
    }

    &:disabled {
        background: #f3f3f3;
        color: #bdbdbd;
        cursor: not-allowed;
    }
}